<link rel="stylesheet" type="text/css" href="/stylesheets/composer.css">

<div>
    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">My Account</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active">
                                    <a href="#">Library</a>
                                </li>
                                <li>
                                    <a href="#">Profile</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<h1 class="uk-heading-bullet uk-text-center logo">SONO-BANG</h1>
<hr class="uk-divider-small">
<div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
    <div>

        <div class="uk-card uk-card-default uk-card-body card-BG" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
            <h3 class="uk-card-title">Your Songs</h3>
            <div class="js-upload uk-placeholder main-dragDrop">


                <p>
                    <span class="uk-text-middle uk-text-small">To add song -- drag & drop here or</span>
                </P>

                <div uk-form-custom>
                    <input type="file" multiple>
                    <button class="uk-button uk-button-default addSong" type="button">Select song from file</button>
                </div>

                <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>

                <table class="uk-table uk-table-justify uk-table-divider">
                    <thead>
                        <tr>
                            <th class="uk-width-small">Song</th>
                            <th>Genre</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each songs}}
                        <tr>
                            <td>
                                <a href="https://s3-us-west-1.amazonaws.com/sonobang-test/{{key}}">{{ name }}</a>
                            </td>
                            <td>{{ genre }}</td>
                            <td uk-margin>
                                <audio controls>
                                    <source src="https://s3-us-west-1.amazonaws.com/sonobang-test/{{key}}" type="audio/mpeg"> Your browser does not support the audio element.
                                </audio>
                            </td>
                            <td>
                                <button song-title="{{name}}" song-id="{{id}}" class="uk-button uk-button-default uk-button-small add-song-to-playlist" uk-toggle='target:#add-song-to-playlist'
                                    type="button">Add to Playlist</button>
                                <button song-id="{{id}}" class="uk-button uk-button-default uk-button-small delete-song" type="button">X</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div>
        <div class="uk-card uk-card-default uk-card-body card-BG" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
            <h3 class="uk-card-title">Created Playlists</h3>
            <h3 class="uk-card-title"></h3>
            <button class='uk-button uk-button-default addButton' type='button' uk-toggle='target:#new-playlist'>New Playlist</button>

            <table class="uk-table uk-table-justify uk-table-divider">
                <thead>
                    <tr>
                        <th class="uk-width-small">Playlist Name</th>
                        <th>Genre</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each playlists}}
                    <tr uk-accordion>
                        <td class="uk-closed">
                            <a class="uk-accordion-title" href="#">{{name}}</a>
                            <div class="uk-accordion-content">
                                <p>
                                    <span uk-icon="play-circle" class="play-icon"></span>track 1</p>
                                <p>
                                    <span uk-icon="play-circle" class="play-icon"></span>track 2</p>
                            </div>
                        </td>
                        <td>{{genre}}</td>
                        <td uk-margin>
                            <button class="uk-button uk-button-default uk-button-small" type="button" uk-toggle='target:#send-playlist'>Send</button>
                            <button class="uk-button uk-button-default uk-button-small" type="button">Edit</button>
                            <button class="uk-button uk-button-default uk-button-small delete" type="button">X</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>

    // Using Jquery until we go into Angular or React.
    $(document).ready(() => {
        var key = '{{key}}';
        $('.delete-song').on('click', (evt) => {
            $.ajax({
                url: '/composer/song/' + id + '?' + $.param({ "key": key }),
                type: 'DELETE',
                success: () => window.location = '/composer/' + key,
                error: () => alert('Error Deleting Resource.'),
                statusCode: {
                    401: function () {
                        window.location = '/me/login';
                    },
                    400: function (o) {
                        alert(o.error);
                    },
                    200: function (o) {
                        window.location = '/composer/' + key;
                    }
                }
            });
        });

        $('.play-song').on('click', (evt) => {
            var key = $(evt.target).attr('song-key');
            alert(key);

        });

        $('.add-playlist').on('click', (evt) => {
            var id = $(evt.target).attr('song-id');
        });

        var bar = document.getElementById('js-progressbar');

        UIkit.upload('.js-upload', {

            url: 'song',
            multiple: true,
            params: { key: key },

            beforeSend: function () {
                console.log('beforeSend', arguments);
            },
            beforeAll: function () {
                console.log('beforeAll', arguments);
            },
            load: function () {
                console.log('load', arguments);
            },
            error: function () {
                alert('Error');
                console.log('error', arguments);
            },
            complete: function () {
                console.log('complete', arguments);
            },

            loadStart: function (e) {
                console.log('loadStart', arguments);

                bar.removeAttribute('hidden');
                bar.max = e.total;
                bar.value = e.loaded;
            },

            progress: function (e) {
                console.log('progress', arguments);

                bar.max = e.total;
                bar.value = e.loaded;
            },

            loadEnd: function (e) {
                console.log('loadEnd', arguments);

                bar.max = e.total;
                bar.value = e.loaded;
            },

            completeAll: function () {
                console.log('completeAll', arguments);

                setTimeout(function () {
                    bar.setAttribute('hidden', 'hidden');
                }, 1000);

                window.location = '/composer/' + key;
            }

        });

        var songId = 0

        $('.add-song-to-playlist').on('click', (evt) => {

            var songTitle = $(evt.target).attr('song-title');
            songId = $(evt.target).attr('song-id');

            console.log(songTitle);
            console.log(songId);

            $('#song-title').html(songTitle);

            $('#song-id').html(songId);


        });

        $('.save-song-to-playlist').on('click', (evt) => {

            $.ajax({
                url: '/composer/playlist-songs',
                type: 'POST',
                contentType: "application/json",
                data: {
                    'key': key,
                    'song-id': songId,
                },
                statusCode: {
                    401: function () {
                        window.location = '/me/login';
                    },
                    400: function (o) {
                        alert(o.message);
                    },
                    200: function (o) {
                        window.location = '/composer/' + key;
                    }
                }
            });
        });

        {{!-- alert('Loaded Correctly') --}}
    });






</script>


<!-- modals -->
<div id='new-playlist' uk-modal>
    <div class='uk-modal-dialog uk-modal-body'>

        <form action="/composer/playlist" method="post" class="uk-form-stacked">
            <input type="hidden" value="{{key}}" name="key" />
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Playlist Name</label>
                <div class="uk-form-controls">
                    <input class="uk-input" type="text" name="name">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Genre</label>
                <div class="uk-form-controls">
                    <input class="uk-input" type="text" name="genre">
                </div>
            </div>
            <button class="uk-button uk-button-primary" type="submit">Create Playlist</button>
        </form>

    </div>
</div>

<div id='send-playlist' uk-modal>
    <div class='uk-modal-dialog uk-modal-body'>

        <h2>Copy this hyperlink</h2>
        <p>http://www.sonobang.com/person/playlist</p>

    </div>
</div>

<div id='add-song-to-playlist' uk-modal>
    <div class='uk-modal-dialog uk-modal-body'>

        <h1 id="song-title"></h1>

        {{!--
        <form action="/composer/playlist-songs" method="post" class="uk-form-stacked"> --}} {{!--
            <input id="song-id" type="hidden" name="song-id" value="{{key}}">
            <input type="hidden" name="key" value="{{key}}"> --}}

            <ul class="uk-list uk-list-line">
                {{#each playlists}}
                <li>
                    <input type="checkbox" name="playlist-{{id}}" class="uk-checkbox"> {{name}} | {{genre}}
                </li>
                {{/each}}
            </ul>

            <button class="uk-button uk-button-default uk-button-large save-song-to-playlist" type="button">Save</button>
            {{!-- </form> --}}

    </div>
</div>