<link rel="stylesheet" type="text/css" href="/stylesheets/composer.css">

<div>
    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">My Account</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active">
                                    <a href="/composer/{{key}}">Library</a>
                                </li>
                                <li>
                                    <a href="/me/profile/{{key}}">Profile</a>
                                </li>
                                 <li>
                                    <a href="/">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<h1 class="uk-heading-bullet uk-text-center logo">SONO-BANG</h1>
<hr class="uk-divider-small">
<div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
    <div>

        <div class="uk-card uk-card-default uk-card-body card-BG" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
            <h3 class="uk-card-title">Your Songs</h3>
            <div class="js-upload uk-placeholder main-dragDrop">
                <p>
                    <span class="uk-text-middle uk-text-small">To add song -- drag & drop here or</span>
                </P>

                <div uk-form-custom>
                    <input type="file" multiple>
                    <button class="uk-button uk-button-default addSong" type="button">Select song from file</button>
                </div>

                <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>

                <table class="uk-table uk-table-justify uk-table-divider">
                    <thead>
                        <tr>
                            <th class="uk-width-small">Song</th>
                            <th>Genre</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each songs}}
                        <tr>

                            <td>
                                <img src="../images/pause-icon.png" class="play-button-style pause-button hidden" >
                                <img src="../images/play-icon.png" class="play-button-style play-button" >
                                <a href="https://s3-us-west-1.amazonaws.com/sonobang-test/{{key}}">{{ name }}</a>
                                <audio controls  class="composer-audio" style="display: none">
                                    <source src="https://s3-us-west-1.amazonaws.com/sonobang-test/{{key}}" type="audio/mpeg"> Your browser does not support the audio element.
                                </audio> 
                            </td>
                            <td>{{ genre }}</td>
                            <td>
                                <button class="uk-button uk-button-default" type="button">...</button>
                                <div uk-dropdown>
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li><a href="javascript:void(0)" song-title="{{name}}" song-id="{{id}}" class="uk-button uk-button-default uk-button-small add-song-to-playlist"  uk-toggle="target:#add-song-to-playlist">Add Song</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a class="restart" href="javascript:void(0)">Restart</a></li>
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="javascript:void(0)"  song-id="{{id}}" class="delete-song" uk-toggle='target:#delete-song'>Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div>
        <div class="uk-card uk-card-default uk-card-body card-BG" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
            <h3 class="uk-card-title">Created Playlists</h3>
            <h3 class="uk-card-title"></h3>
            <button class='uk-button uk-button-default addButton' type='button' uk-toggle='target:#new-playlist'>New Playlist</button>

            <table class="uk-table uk-table-justify uk-table-divider">
                <thead>
                    <tr>
                        <th class="uk-width-small">Playlist Name</th>
                        <th>Genre</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each playlists}}
                    <tr uk-accordion>
                        <td class="uk-closed uk-width-1-1">
                            <a class="uk-accordion-title" href="#">{{name}}</a>
                            <div class="uk-accordion-content">
                                {{#each songs}}
                                <div class="uk-child-width-expand" uk-grid>
                                    <div>
                                        <img src="../images/pause-icon.png" class="play-button-style pause-button hidden" >
                                        <img src="../images/play-icon.png" class="play-button-style play-button" >
                                        <audio controls  class="composer-audio" style="display: none">
                                            <source src="https://s3-us-west-1.amazonaws.com/sonobang-test/{{key}}" type="audio/mpeg"> Your browser does not support the audio element.
                                        </audio> 
                                    </div>
                                    <div>
                                        <a href="https://s3-us-west-1.amazonaws.com/sonobang-test/{{key}}">{{ name }}</a>
                                    </div>
                                    <div>
                                        <img src="../images/replay-icon.png" class="play-button-style restart-icon" >
                                        <button song-id="{{id}}" playlist-id="{{playlistId}}" class="uk-button uk-button-default uk-button-small remove-song-from-playlist" type="button">X</button></div>
                                    </div>
                                {{/each}}
                            </div>
                        </td>
                        <td>{{genre}}</td>
                        <td>
                            <button class="uk-button uk-button-default" type="button">...</button>
                                <div uk-dropdown>
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li><a href="javascript:void(0)" class="uk-button uk-button-default uk-button-small send-playlist" public-key="{{publickey}}" playlist-id="{{id}}"
                                            playlist-title="{{name}}" uk-toggle='target:#send-playlist'>Send</a></li>
                                        <li><a class="delete-playlist" href="javascript:void(0)" playlist-id="{{id}}" playlist-title="{{name}}"
                                            uk-toggle='target:#delete-playlist'>Delete Playlist</a></li>
                                    </ul>
                                </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- modals -->
<div id='new-playlist' uk-modal>
    <div class='uk-modal-dialog uk-modal-body'>

        <form action="/composer/playlist" method="post" class="uk-form-stacked">
            <input type="hidden" value="{{key}}" name="key" />
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Playlist Name</label>
                <div class="uk-form-controls">
                    <input class="uk-input" type="text" name="name">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Genre</label>
                <div class="uk-form-controls">
                    <input class="uk-input" type="text" name="genre">
                </div>
            </div>
            <button class="uk-button uk-button-primary" type="submit">Create Playlist</button>
        </form>
    </div>
</div>

<div id='send-playlist' uk-modal>
    <div class='uk-modal-dialog uk-modal-body'>

        <form action="/composer/send-playlist/" method="post" class="uk-form-stacked">
            <input id="playlist-id" type="hidden" name="playlistId">
            <input type="hidden" name="key" value="{{key}}">
            <input id="public-key2" type="hidden" name="publicKey">
            <input id="hostname" type="hidden" name="hostname">
            <input id="port" type="hidden" name="port">
            <input id="protocol" type="hidden" name="protocol">

            <h2>Send Playlist</h2>

            <h1 class="center" id="playlist-title"></h1>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Email</label>
                <div class="uk-form-controls">
                    <input class="uk-input" type="text" name="email">
                </div>
                <button>Submit</button>
            </div>

            <h2>Or copy this hyperlink</h2>
            <p id="public-key"></p>

        </form>
    </div>
</div>

<div id='add-song-to-playlist' uk-modal>
    <div class='uk-modal-dialog uk-modal-body'>

        <h1 id="song-title"></h1>


        <form action="/composer/playlist-songs" method="post" class="uk-form-stacked">
            <input id="song-id" type="hidden" name="song-id">
            <input type="hidden" name="key" value="{{key}}">

            <ul class="uk-list uk-list-line">
                {{#each playlists}}
                <li>
                    <input type="checkbox" name="playlist-{{id}}" class="uk-checkbox"> {{name}} | {{genre}}
                </li>
                {{/each}}
            </ul>

            <button class="uk-button uk-button-default uk-button-large save-song-to-playlist" type="submit">Save</button>
        </form>

    </div>
</div>

<div id='delete-playlist' uk-modal>
    <div class='uk-modal-dialog uk-modal-body'>

        <h2>Delete Playlist?</h2>

        <h1 class="center" id="delete-playlist-title"></h1>

        <!-- DELETE and PUT are not supported by HTML5 Forms.  Use a simple link instead.-->
        <a class="uk-button uk-button-primary confirm-delete-playlist" type="button" href="javascript:void(0)">Delete Playlist</a>
    </div>
</div>

<div id='delete-song' uk-modal>
    <div class='uk-modal-dialog uk-modal-body'>

        <h2>Delete Song?</h2>

        <h1 class="center" id="delete-song-title"></h1>

        <!-- DELETE and PUT are not supported by HTML5 Forms.  Use a simple link instead.-->
        <a class="uk-button uk-button-primary confirm-delete-song" type="button" href="javascript:void(0)">Delete Song</a>
    </div>
</div>

<script>
    key = '{{key}}';
</script>