<link rel="stylesheet" type="text/css" href="/stylesheets/composer.css">

<div class="uk-container">
    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">My Account</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li>
                                    <a href="/me/profile/{{key}}">Profile</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>



    <div class="columnWrapper">


        <div>
            <header>

                <h2>Sono-Bang pricing tables</h2>
                <p>choose a package that is best for you.</p>
            </header>
        </div>

        <form action="/composer/pricing" method="post">
            <input type="hidden" name="key" value="{{key}}">
            <div class="columns">
                <ul class="price">
                    <li class="package">Basic</li>
                    <li class="grey">$ 9.99 / year</li>
                    <li>10GB Storage</li>
                    <li class="grey">
                        <button class="button" type="submit" id="paypal-button1"></button>
                    </li>
                </ul>
            </div>
        </form>

        <form action="/composer/pricing" method="post">
            <input type="hidden" name="key" value="{{key}}">
            <div class="columns">
                <ul class="price">
                    <li class="package">Pro</li>
                    <li class="grey">$ 24.99 / year</li>
                    <li>25GB Storage</li>
                    <li class="grey">
                        <button class="button" type="submit"  id="paypal-button2"></button>
                    </li>
                </ul>
            </div>
        </form>


        <form action="/composer/pricing" method="post">
            <input type="hidden" name="key" value="{{key}}">
            <div class="columns">
                <ul class="price">
                    <li class="package">Premium</li>
                    <li class="grey">$ 49.99 / year</li>
                    <li>50GB Storage</li>
                    <li class="grey">
                        <button class="button" type="submit" id="paypal-button3"></button>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>

<script>
    key = '{{key}}';
</script>


